.anim-1 {
    animation-name: bounceIn;
    animation-duration: 4s;
}
.anim-2 {
    animation-name: bounceIn;
    animation-duration: 4s;
    animation-delay: 1000ms;
}
.anim-3 {
    animation-name: bounceIn;
    animation-duration: 4s;
    animation-delay: 2000ms;
}
.anim-4 {
    animation-name: bounceIn;
    animation-duration: 4s;
    animation-delay: 600ms;
}
.anim-5 {
    animation-name: bounceIn;
    animation-delay: 800ms;
}
.anim-6 {
    animation-name: bounceIn;
    animation-delay: 1000ms;
}
.anim-7 {
    animation-name: bounceIn;
    animation-delay: 1200ms;
}
.anim-8 {
    animation-name: bounceIn;
    animation-delay: 1400ms;
}
.anim-9 {
    animation-name: bounceIn;
    animation-delay: 1600ms;
}

.menu_column {
    opacity: 0;
}