.anim-1 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;

}
.anim-2 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}
.anim-3 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;

}
.anim-4 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
}
.anim-5 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
}
.anim-6 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}
.anim-7 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
}
.anim-8 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 1400ms;
    animation-fill-mode: forwards;
}
.anim-9 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 1600ms;
    animation-fill-mode: forwards;
}
.anim-10 {
    animation-name: bounceIn;
    animation-duration: 1200ms;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
}