@keyframes bounceIn {
    0% {
        opacity: 0;
        margin-top: 30px;
        margin-bottom: 0;
    }

    100% {
        opacity: 1;
        animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}
