@media screen and (max-width: 1250px) {
    .content {
        padding: 0 10px;
    }
    .footer__bloc {
        margin-left: 10px;
    }
}
@media screen and (max-width: 1038px) {
    .presentation {
        &__container {
            flex-direction: column;
        }
        &__card {
            width: 100%;
        }
    }
    .background__cover img {
        height: 250px;
    }
    .menu__container {
        flex-direction: column;
    }
    .footer__bloc {
        flex-direction: column;
        text-align: left;
        align-items: baseline;
        & > ul {
            flex-direction: column;
        }
        & li {
            margin-bottom: 5px;
        }
    }
    .menu__column {
        width: 100%;
        max-width: 100%;
    }
    .restaurant__card > a img {
        height: 150px !important;
    }
}
@media screen and (max-width: 950px) {
    .restaurant {
        &__card {
            max-width: none;
            width: 100%;
        }
    }
}
