@font-face {

    font-family: Shrikhand;
    
    src: url('../../assets/polices/shrikhand/Shrikhand-Regular.otf');
    
    }
    @font-face {

        font-family: Roboto;
        
        src: url('../../assets/polices/roboto-slab/RobotoSlab-Regular.ttf');
        
        }


    h1, h3 {
        font-family: 'Shrikhand';
    }