footer {
    background-color: #363636;
}
h3.footer__title {
    color: white;
    margin: 0;
    margin: 20px;
}
.footer__bloc {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    & > ul {
        display: flex;
        list-style: none;
        padding: 0;
        color: white;
        margin: 20px;
        & li{
            margin-left: 20px;
        }
    }
}
.fa-utensils{
    margin-right: 7px;
}