footer {
    background-color: #363636;
    margin-top: 40px;
}
h3.footer__title {
    color: white;
    margin: 10px 0 0 0;
}
.footer__bloc {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    & > ul {
        display: flex;
        list-style: none;
        padding: 0;
        color: white;
        margin-top: 10px;
        & li{
            margin-right: 15px;
            color: white;
            & a {
                color: white;
                &:hover{
                    border-bottom: 1px solid;
                }
            }
        }
    }
}
.fa-utensils{
 font-size: 12px;
 margin-right: 5px;
}
.fa-hands-helping
{
    font-size: 11px;
}