.header {
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.49);
    &__menu {
        display: flex;
        justify-content: space-between;
    }
}
h1 {
    padding: 20px 0;
    margin: 0;
}
.location {
    margin-top: 3px;
}
.header > h1 {
    & > h1 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
.return {
    float: left;
    margin-left: 20px;
    margin-top: 35px;
    font-size: 20px;
    & > a {
        color: black;
        &:visited {
            color: black;
        }
    }
    & > .fas {
        color: black;
    }
}
.block__invisible {
    width: 37px;
}