.location {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    &__bloc {
        text-align: center;
        display: flex;
        align-items: center;
    }
    &__search{
        margin-left: 10px;
    }
}
