.background__cover {
    & > img {
        object-fit: cover;
        max-height: 500px;
        width: 100%;
        position: relative;
    }
}
.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
    position: relative;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    padding: 0 20px;
    & > h2 {
        font-family: "Shrikhand";
    }
}
.menu__container {
    background-color: #f6f6f6;
    border: 25px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 0 20px;
    & h3 {
        font-family: "Roboto";
        position: relative;
        padding-bottom: 6px;
        &::after {
            content: "";
            width: 45px;
            height: 3px;
            background-color: #99e2d1;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
.menu__column {
    flex: 1;
}
.menu__card {
    background-color: white;
    @include box-shadow;
    border-radius: 15px;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    &-title > h4 {
        margin: 5px;
        font-size: 17px;
    }
    &-footer {
        display: flex;
        justify-content: space-between;
    }
    &-container {
        width: 100%;
        padding-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
            width:calc(100% - 80px)
        }
    }
    &-text {
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-price{
        font-weight: bold;
    }
    &:hover .menu__card-animation {
        margin-right: 0;
        transition-duration: 5s;
        & > .fas {
            transform: rotate(360deg);
            transition-duration: 800ms;
        }
    }
    &:hover .menu__card-container {
        transition-duration: 800ms;
    }
}
.menu__card-animation {
    width: 65px;
    text-align: center;
    margin-right: -65px;
    margin-left: 10px;
    background-color: #99e2d1;
    height: 65px;
    align-items: center;
    & .fas {
        color: white;
        font-size: 22px;
        margin-top: 23px;
        transform: rotate(-180deg);
    }
}
.menu__command {
    background-color: #f6f6f6;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 20px 60px 20px;
}
