.presentation {
    padding-bottom: 20px;
    &__container {
        display: flex;
        justify-content: space-around;
        column-gap: 20px;
    }
    &__card {
        @include box-shadow;
        @include radius;
        flex: 1;
        display: flex;
        align-items: center;
        & > p {
            padding: 10px 20px;
        }
        & > .fas {
            padding-left: 15px;
        }
        &-count{
            border: solid 1px grey;
        }
    }
}
