.presentation {
    padding: 20px;
    &__container {
        display: flex;
        justify-content: space-around;
        column-gap: 30px;
        margin-left: 15px;
    }
    &__card {
        @include box-shadow;
        @include radius;
        flex: 1;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:hover > .fas {
            color: #9356DC
        }
        &:hover{
            background-color: #f5edff;
        }
        & > p {
            padding: 10px 10px;
        }
        & > .fas {
            padding-left: 15px;
        }
        &-count {
            margin-left: -13px;

            & > p {
                border: solid 0px;
                font-size: 12px;
                border-radius: 20px;
                padding: 5px 9px;
                color: white;
                background-color: #9356DC;
            }
        }
    }
}
