.presentation {
    padding-bottom: 20px;
    &__container {
        display: flex;
        justify-content: space-around;
        column-gap: 20px;
    }
    &__card {
        @include box-shadow;
        @include radius;
        flex: 1;
        min-width: 300px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        & > p {
            padding: 10px 20px;
        }
    }
}
