.restaurant {
    background-color: #fafafa;
    padding: 0 20px 60px 20px;
    &__card {
        flex: 1 1 auto;
        width: 49%;
        border-radius: 0 0 25px 25px;
        @include box-shadow;
        @include radius;
        margin-bottom: 20px;
        position: relative;
        &-text {
            padding: 5px 10px 10px 15px;
            & > a p {
                margin: 0;
                color: black;
                font-size: 17px;
                &:visited {
                    color: black;
                }
            }
            & > a h4 {
                margin: 0 0 5px 0;;
                color: black;
            }
            & h4{
                font-size: 17px;
                margin-bottom: 5px;
            }
        }
        & > a {
            text-decoration: none;
            & img {
                height: 200px;
                width: 100%;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 20px;
        & > a {
            display: contents;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .like-icon {
            margin-top: -12px;
        }
    }
}
.card__new {
    position: absolute;
    background-color: #98e2d1;
    color: #1e8766;
    border-radius: 3px;
    top: 15px;
    right: 15px;
    padding: 8px 12px;
    font-size: 15px;
}
