.restaurant {
    background-color: #fafafa;
    padding: 0 20px;
    &__card {
        flex: 1 1 auto;
        width: 49%;
        border-radius: 0 0 25px 25px;
        @include box-shadow;
        @include radius;
        margin-bottom: 20px;
        &-text {
            padding: 10px 20px;
            & > a p {
                margin: 0;
                color: black;
                &:visited {
                    color: black;
                }
            }
            & > a h4 {
                margin: 0;
                color: black;
            }
        }
        & > a {
            text-decoration: none;
            & img {
                height: 200px;
                width: 100%;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 20px;
        & > a {
            display: contents;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
