.reservation{
    text-align: center;
    background-color: #fafafa;
    &__button{
        background-color: pink;
        margin: auto;
        width: 200px;
        border-radius: 25px;
        & > p {
            padding: 20px;
        }
    }
}