.restaurant {
    display: flex;
    justify-content: space-around;
        &__card > img {
            height: 250px;
            object-fit: cover;
        }
        &__card {
            flex: 1 1 250px;
        }
}
.content
{
    max-width: 1400px;
    margin: auto;
}